.item{
    display: inline-block;
    width: 25rem;
    height: 32rem;
    border: 1px solid rgb(190, 190, 190);
    margin: 15px;
    padding: 10px;
}

.item img{
    width: 20rem;
    height: 20rem;
}

.itemPrice{
    font-size: 2rem;
    color: rgb(160, 30, 30);
}